@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Playwrite+DE+Grund+Guides&family=Rubik+Mono+One&display=swap');

html, body {
    height: 100%;
    margin: 0;
    background: #eae7e7;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.main h2{
    font-family: "Concert One", serif;
    color: rgb(83, 79, 79);
    font-weight: 200;
    text-decoration: underline solid 3px black;
}

.logo{
    font-family: "Concert One", serif;
    font-size: 2rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



